{% extends "budget/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BudgetO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    {% block content %}
    <h1>Tuturu mayushi a trouvé un hoopa</h1>
    <p>Avec le nom : {{ title }}</p>
    <p>Et elle espère un hoopa :{{ content }}</p>
    <p>Mayushi souhaite tout les hoopa en dessous</p>
    <ul>
        {% for x in queryset %}
            {% if x.title%}
              <li><a href='sd{{ x.id }}'>{{ x.title }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    {% endblock content %}
  </body>
</html>
